:root{
    --imageSize: 1200px;
}

.slider-show{
    width: var(--imageSize);
    margin: 10px auto;
    margin-bottom: 0;
    overflow: hidden;
    img{
        width: var(--imageSize);
    }
}

.imageContainer{
    width: 4000px;
    font-size: 0;
    transition: 2.5s;
}

.slider-buttons{
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;

    input[type='radio'] {
        accent-color: var(--dark);
    }
}