@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.card{
    margin-left: 10px;
    background: var(--gray);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 290px;
    transition: 0.5s;
    &:hover{
        scale: 105%;
        box-shadow: #000000 0px 10px 25px 0px;
    }
    img{
        border-radius: 20px 20px 5px 5px;
        width: 100%;
        box-shadow: var(--glow) 0px 50px 80px -45px;
    }
    h2{
        font-family: "Bebas Neue", sans-serif;
        color: #ffffff;
        letter-spacing: 1.5px;
        font-size: 50px;
        text-align: center;
        margin-top: -30px;
        margin-bottom: 0px;
        padding: 0;
    }
    p{
        color: #ffffff;
        font-family: "Geologica", sans-serif;
        font-weight: 200;
        font-size: 15px;
        letter-spacing: 0.1px;
        line-height: 150%;
        padding-right: 15px;
        margin-left: -5px;
        margin-top: 0;
    }
}
ul{
    list-style: none;
}
.slider-card{
    display: flex;
    padding: 30px;
    justify-content: center;

}
.slider-frame{
    position: relative;
}
.btn_slider{
    font-size: 120px;
    font-family: "Bebas Neue", sans-serif;
    color: #ffffff;
}

#btn_links{
    position: absolute;
    top: 43%;
    right: 95%;
}
#btn_rechts{
    position: absolute;
    top: 43%;
    left: 95%;
}